@import  url('https://fonts.googleapis.com/css?family=Anton|Titillium+Web:300,400,700');

:root {
  --titillium: 'Titillium', sans-serif;
  --web: 'Web', sans-serif;
}

body {
  position: relative;
  top: 50px;
  font-family: var(--web);
}

.navbar {
  background-color: rgb(148, 244, 243);
}

.jumbotron {
  background-color: rgb(148, 244, 243);
}

.bigboi {
  height: 1000px;
}
