@import  url('https://fonts.googleapis.com/css?family=Anton|Exo:400,700');

:root {
  --exo: 'Exo', sans-serif;
  --anton: 'Anton', sans-serif;
  --darkred: #fb1401;
  --gray: rgb(148,244,243);
}

body {
  position: relative;
  top: 50px;
  font-family: var(--exo);
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: var(--gray);
  border: none;
}

.navbar-brand {
  padding: 10px 15px;
}

span.fa.fa-bars {
  color: white;
  font-size: 25px;
}

.navbar-toggle {
  border: none;
}

.jumbotron {
  background-color: var(--gray);
}

.title {
  font-family: var(--anton);
  font-size: 40px;
  font-weight: 700;
  color: var(--darkred);
}

.subtitle {
  color: var(--darkred);
  font-family: var(--anton);
  margin-top: 10px;
}

/* ---------- About Page ---------- */

.holder {
  display: flex;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  max-height: 220px;
}

.myinfo {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}
